body {
  background: url(https://images.unsplash.com/photo-1448375240586-882707db888b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80);
  background-repeat: repeat;
}

div {
  background: blue;
  border-style: dotted;
  border-color: orange;
  border-width: 5px;
}

p {
  color: yellow;
}

span {
  background: red;
  color: black;
}
